# SQL Practice
### Exploratory Data Analysis

In [1]:
#configure jupyter notebook to run SQL commands
%load_ext sql

In [2]:
#connect to database
#database is a sqlite database file stored locally, 
#it is a open source db, refer to README for download location
%sql sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite

'Connected: @/Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite'

In [3]:
%sql SELECT * FROM Track LIMIT 5;

 * sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite
Done.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99),
 (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99),
 (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99),
 (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99)]

---

Practice Q's from https://www.chegg.com/homework-help/questions-and-answers/question-1-using-chinook-database-write-sql-select-queries-answer-following-questions-need-q29407465

a. What is the title of the album with AlbumId 31?

b. List all the albums by artists with the word ‘black’ in their name.

c. Find the name and length (in seconds) of all tracks that have both length between 30 and 40 seconds, and genre Latin.

d. Produce a table that lists each country and the number of customers in that country. (You only need to include countries that have customers.)

e. Find the top five customers in terms of sales i.e. find the five customers whose total combined invoice amounts are the highest.

f. For each genre of music, determine how many customers have bought at least one track from that genre.

In [4]:
%%sql result <<
SELECT Title
FROM Album
Where AlbumId = 31;

 * sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite
Done.
Returning data to local variable result

In [5]:
result

[('Bongo Fury',)]