In [1]:
#configure jupyter notebook to run SQL commands
%load_ext sql

In [2]:
#connect to database
#database is a sqlite database file stored locally, 
#it is a open source db, refer to README for download location
%sql sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite

'Connected: @/Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite'

**Aggregate Function Example**

In [15]:
%%sql result <<
SELECT SUM(Quantity) AS total_quantity
FROM InvoiceLine;

 * sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite
Done.
Returning data to local variable result

In [16]:
result

[(2240,)]

## Window Functions

In [35]:
%%sql result <<
SELECT *, SUM(Quantity) OVER() AS total_quantity
FROM InvoiceLine;

 * sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT *, SUM(Quantity) OVER() AS total_quantity FROM InvoiceLine;]
(Background on this error at: http://sqlalche.me/e/e3q8)