In [1]:
#configure jupyter notebook to run SQL commands
%load_ext sql

In [2]:
#connect to database
#database is a sqlite database file stored locally, 
#it is a open source db, refer to README for download location
%sql sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite

'Connected: @/Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite'

**Basic JOIN syntax**

In [7]:
%%sql result <<
SELECT t.Name AS track_name,
g.Name AS genre_name
FROM Track t
JOIN Genre g
ON t.GenreId = g.GenreId
LIMIT 5;

 * sqlite:////Users/admin/personal_projs/sql_practice/data/Chinook_Sqlite.sqlite
Done.
Returning data to local variable result

In [8]:
result

[('For Those About To Rock (We Salute You)', 'Rock'),
 ('Balls to the Wall', 'Rock'),
 ('Fast As a Shark', 'Rock'),
 ('Restless and Wild', 'Rock'),
 ('Princess of the Dawn', 'Rock')]